.pico-close{
    display: none;
}
.pico-overlay{
    display: none !important;
}
.pico-content{
    display: none !important;
}
#ce_modal_content{
    display: none !important;
}
#ce_modal_content_inner{
    display: none !important;
}
#ce_modal{
    display: none !important;
}
#ce_modal_header{
    display: none !important;
}
#ce_modal_content{
    display: none !important;
}
#ce_modal_footer{
    display: none !important;
}
.inputPhone {
    background-color: transparent;
    border: none;
}

.bg-dark-custom {
    background-color: #111826;
}

.bg-light-custom {
    background-color: #1f2a38;
}

.phone-container {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 2rem;
    background-color: #1f2a38a7 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-input {
    height: 100px;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
}

.active-btn {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(17, 24, 38, .4) !important;
}

.button-numeric {
    padding: 1.2rem;
    font-size: 2rem;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    transition: .2s;
}

.button-numeric:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(17, 24, 38, .4) !important;
}

.keypad-container {
    margin-top: 1rem;
    gap: 0.5rem;
    flex-grow: 1;
}

.button-action {
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.4rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-hangup {
    z-index: 999;
    background-color: #bf5050e7;
}

.button-hangup:hover {
    background-color: rgba(196, 57, 71, 0.767);
}

.button-call {
    z-index: 999;
    background-color: #50bfa0cc;
}

.button-call:hover {
    background-color: #288d70d7;
}

.sufix {
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
}

.number {
    padding-bottom: 1rem;
}

.NameRamal{
    margin-top: -24px;
    margin-bottom: 20px;
    color: #6a7a8f;
    font-size: 12pt;
}


.aviso{
    display: none;
}


@media screen and (max-height: 840px) {
    .phone-container {
        max-width: 450px;
        height: auto;
    }

    .button-numeric {
        padding: 0.75rem;
        font-size: 2rem;
    }

    .button-action {
        padding: 1rem;
        font-size: 1.4rem;
    }

    .display-input {
        height: 80px;
        font-size: 2.5rem;
    }

}

@media screen and (max-height: 730px) {
    .phone-container {
        max-width: 450px;
        height: auto;
    }

    .button-numeric {
        padding: 0.75rem;
        font-size: 2rem;
    }

    .button-action {
        padding: 1rem;
        font-size: 1.4rem;
    }

    .display-input {
        height: 80px;
        font-size: 2.5rem;
    }

}

@media screen and (max-height: 650px) {
    .keypad-container{
        display: none;
    }
    .phone-container {
        max-width: 450px;
        height: auto;
    }

    .button-numeric {
        padding: 0.75rem;
        font-size: 1.2rem;
    }

    .button-action {
        padding: 1rem;
        font-size: 2rem;
    }

    .display-input {
        height: 80px;
        font-size: 2.5rem;
    }
    .aviso{
        margin-top: 40px;
        display: block;
    }

}

.divBtn{
    margin-top: 20px;
    margin-bottom: -30px;
}
.flex {
display: flex;
}
.sidebar {
    transition: transform 0.3s ease-in-out;
    background-color: #1f2a38;
    color: #e5e7eb;
    z-index: 9999;
}
.sidebar-open {
    transform: translateX(0);
}
.sidebar-closed {
    transform: translateX(-100%);
}
.sidebar-content {
    max-height: 100vh; /* Limitar altura para permitir rolagem */
    overflow-y: auto; /* Adicionar rolagem vertical */
    position: relative; /* Necessário para posicionar a barra de rolagem */
}
.sidebar-content::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease;
}
.sidebar-content::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Cor da barra de rolagem */
    border-radius: 10px;
}
.sidebar-content::-webkit-scrollbar-track {
    background: #1f2a38; /* Cor de fundo da barra de rolagem */
}
.sidebar-content.hidden-scroll::-webkit-scrollbar {
    opacity: 0;
}
.sidebar-content.hidden-scroll {
    scrollbar-width: none; /* Firefox */
}
.caller-item {
    position: relative;
    padding: 8px;
    background-color:#1118268d;
}

.caller-item:hover{
    background-color: #344050;
}


.volume-control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 150px; /* Largura da barra */
    height: 6px; /* Altura da barra */
    background: #1f2a38; /* Cor de fundo da barra */
    border-radius: 5px; /* Arredondamento da barra */
    outline: none; /* Remove o contorno ao focar */
    position: relative; /* Adiciona posição relativa para o controle do thumb */
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /* Largura do botão */
    height: 16px; /* Altura do botão */
    background: #50bfa0; /* Cor do botão */
    border-radius: 50%; /* Arredondamento do botão */
    cursor: pointer; /* Mostra um cursor de mão ao passar por cima */
    margin-top: -5px; /* Centraliza o botão verticalmente */
}

.volume-control input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #50bfa0;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px; /* Centraliza o botão verticalmente no Firefox */
}

.volume-control input[type="range"]::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #50bfa0;
    border-radius: 50%;
    cursor: pointer;
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
    background-color: #1f2a38;
    height: 6px;
    border-radius: 5px;
}

.volume-control input[type="range"]::-moz-range-track {
    background-color: #1f2a38;
    height: 6px;
    border-radius: 5px;
}

.volume-control input[type="range"]::-ms-track {
    background-color: #1f2a38;
    height: 6px;
    border-radius: 5px;
    border: none;
    color: transparent;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: -20px;
}

#mute-icon, #list-icon, .speaker-icon {
    opacity: .5;
    width: 30px;
    height: 30px;
}

#exit-icon{
    opacity: .5;
    width: 35px;
    height: 35px;
}

.soundBar {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -10px;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 13px;
}

.micControl, .spkControl {
    margin-top: 10px;
}

/* Novo estilo para empilhar ícones verticalmente */
.icon-group {
    display: flex;
    flex-direction: column; /* Empilha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaço entre os botões */
    margin-left: 50px;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 13px;
}

.micControl, .spkControl {
    margin-top: 10px;
}

#micVolumeValue, #speakerVolumeValue {
    display: inline-block;
    width: 2.5em; /* Largura fixa suficiente para três dígitos */
    text-align: right; /* Alinha os números à direita */
}