/* styles.css */

body {
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 17, 34, .95);
    z-index: 0;
    pointer-events: none; /* Permite interação com elementos abaixo da cor */
  }
.login{
    z-index: 999 !important;
}
.alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

