<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softphone</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='webphone_api.js') }}"></script>
    <script src="{{ url_for('static', filename='webphone_config.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/softphone.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body class="bg-dark-custom flex flex-col items-center justify-center min-h-screen">

    <div class="w-full max-w-xs bg-light-custom shadow-lg rounded-lg p-6 phone-container">
        <form action="{{ url_for('logout') }}" method="POST" class="exit">
            <button type="submit">Sair</button>
        </form>
        <p class="text-center block NameRamal top-0">
            Logado como: {{full_name}}, {{phone_number}}
        </p>
        <h1 id="title" class="text-2xl font-semibold mb-4 text-center text-white">Softphone Setup</h1>

        <div class="mb-4 number">
            <input id="display" type="text" class="w-full border border-gray-700 rounded-lg p-4 text-center bg-gray-900 text-white focus:outline-none display-input inputPhone" maxlength="15">
            <p id="description" class="text-center text-white mt-2 sufix">Sem Formato</p>
        </div>

        <div class="keypad-container grid grid-cols-3 gap-3 mb-4 flex-grow">
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('1')">1</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('2')">2</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('3')">3</button>

            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('4')">4</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('5')">5</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('6')">6</button>

            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('7')">7</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('8')">8</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('9')">9</button>

            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('*')">*</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('0')">0</button>
            <button class="bg-gray-700 text-white rounded-lg button-numeric" onclick="addNumber('#')">#</button>
        </div>

        <div class="flex mb-4 space-x-4 divBtn">
            <button id="call-button" class="button-action button-call flex-1 rounded-lg" onclick="makeCallHandler()">Ligar</button>
        </div>
        <button id="muteButton">
            <img id="mute-icon" src="static/img/unmute.svg" alt="Mute">
        </button>
        <div class="flex-1 p-6">
            <button id="openSidebar">
                <img id="list-icon" src="static/img/list.svg" alt="List">
            </button>
        </div>
        <div class="soundBar">
            <div class="volume-control micControl">
                <input type="range" id="micVolume" min="0" max="100" value="50">
                <span id="micVolumeValue">50</span>%
            </div>

            <div class="volume-control spkControl">
                <img id="speakerIcon" src="static/img/speaker50.svg" alt="Speaker Icon" class="speaker-icon">
                <input type="range" id="speakerVolume" min="0" max="100" value="50">
                <span id="speakerVolumeValue">50</span>%
            </div>
        </div>
        <p class="aviso text-center block top-0 text-gray-400">Devido ao tamanho da tela, use o teclado para digitar o Núemro</p>
    </div>

    <div id="call-status" style="display: none;">Status da Chamada: Desconhecido</div>

    <div class="flex">
        <div id="sidebar" class="fixed top-0 left-0 h-full w-[70rem] !w-[70rem] sidebar sidebar-closed z-30" style="width: 20rem;">
            <div class="p-4">
                <input
                    id="searchBox"
                    type="text"
                    placeholder="Buscar por nome"
                    class="w-full p-2 mb-4 bg-gray-700 text-white rounded border border-gray-600 focus:outline-none focus:border-blue-500"
                />
                <div id="sidebarContent" class="sidebar-content">
                    <h1 class="text-xl font-semibold mb-6">Lista de Ramais:</h1>
                    <ul id="callerList">
                        {% if callerid_info %}
                            {% for name, home_phone, group_name in callerid_info %}
                            <li class="mb-2 caller-item relative rounded bg-gray-800 text-white cursor-pointer hover:bg-gray-700" onclick="addNumberToList('{{ home_phone }}'); addSufixName('{{ name }}');">
                                <span class="font-bold">{{ name }}</span>: {{ home_phone }}
                            </li>
                            {% endfor %}
                        {% else %}
                            <li>Não há informações de Caller ID disponíveis.</li>
                        {% endif %}
                        <li><br></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/softphone.js') }}"></script>
    <script>
        console.log = function() {};
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
                .then(registration => {
                    console.log('Service Worker registrado:', registration);
                })
                .catch(error => {
                    console.log('Service Worker falhou:', error);
                });
        }
    </script>
    <script>
        function aumentarVolume() {
            webphone_api.setvolume(0, 100); // Volume máximo do microfone
            webphone_api.setvolume(1, 100); // Volume máximo dos alto-falantes
            console.log("Todos os volumes foram ajustados para o máximo.");
        }

        document.addEventListener("DOMContentLoaded", function () {
            // Obter os elementos da barra de volume e valores
            const micVolumeSlider = document.getElementById("micVolume");
            const micVolumeValue = document.getElementById("micVolumeValue");

            const speakerVolumeSlider = document.getElementById("speakerVolume");
            const speakerVolumeValue = document.getElementById("speakerVolumeValue");

            // Atualizar o volume do microfone
            micVolumeSlider.addEventListener("input", function () {
                const volume = parseInt(micVolumeSlider.value);
                micVolumeValue.textContent = volume;
                webphone_api.setvolume(0, volume); // Ajusta o volume do microfone
            });

            // Atualizar o volume do alto-falante
            speakerVolumeSlider.addEventListener("input", function () {
                const volume = parseInt(speakerVolumeSlider.value);
                speakerVolumeValue.textContent = volume;
                webphone_api.setvolume(1, volume); // Ajusta o volume do alto-falante
            });
        });
        window.onload = function() {
            const display = document.getElementById('display');
            const description = document.getElementById('description');
            const callStatus = document.getElementById('call-status');
            const callButton = document.getElementById('call-button');
            const title = document.getElementById('title');

            let callStartTime = null;
            let timerInterval = null;

            let previousLength = 0;


            function formatNumber(number) {
            // Remove caracteres não numéricos
            let cleanedNumber = number.replace(/\D/g, '');

            // Formata o número com base no comprimento
            if (cleanedNumber.length <= 2) {
                return cleanedNumber;
            } else if (cleanedNumber.length <= 6) {
                return `(${cleanedNumber.slice(0, 2)}) ${cleanedNumber.slice(2)}`;
            } else if (cleanedNumber.length <= 10) {
                return `(${cleanedNumber.slice(0, 2)}) ${cleanedNumber.slice(2, 6)}-${cleanedNumber.slice(6)}`;
            } else {
                return `(${cleanedNumber.slice(0, 2)}) ${cleanedNumber.slice(2, 7)}-${cleanedNumber.slice(7, 11)}`;
            }
        }

            function updateDescription(number) {
                number = number.replace(/\D/g, '');

                if (number.length === 4) {
                    description.innerText = 'Ramal';
                } else if (number.length >= 10) {
                    const firstDigitAfterDDD = number[2];
                    if (firstDigitAfterDDD >= '2' && firstDigitAfterDDD <= '5') {
                        description.innerText = 'Número Fixo';
                    } else if (firstDigitAfterDDD >= '6' && firstDigitAfterDDD <= '9') {
                        description.innerText = 'Número de Celular';
                    } else {
                        description.innerText = 'Sem Formato';
                    }
                } else {
                    description.innerText = 'Sem Formato';
                }
            }

            function addNumber(number) {
                if (display.value.length < 15) {
                    display.value += number;
                    display.value = formatNumber(display.value);
                    display.focus();
                    updateDescription(display.value);
                    markButton(number);
                }
            }

            function markButton(number) {
                const buttons = document.querySelectorAll('button');
                buttons.forEach(button => {
                    button.classList.remove('active-btn');
                });
                const button = document.querySelector(`button[onclick="addNumber('${number}')"]`);
                if (button) {
                    button.classList.add('active-btn');
                    setTimeout(() => {
                        button.classList.remove('active-btn');
                    }, 200);
                }
            }

            function handleInput(event) {
                const value = display.value.replace(/\D/g, '');
                display.value = formatNumber(value);
                updateDescription(display.value);
            }


            (function() {
                window.updateCallStatus = function() {
                    if (typeof webphone_api !== 'undefined') {
                        const isInCall = webphone_api.isincall();

                        if (!isInCall && callStartTime) {
                            callStartTime = null;
                            stopTimer();
                        }

                        if (isInCall) {
                            if (callStartTime) {
                                callStatus.innerText = `Status da Chamada: Em Chamada - ${formatTime(getElapsedTime())}`;
                                title.innerText = `Em Chamada - ${formatTime(getElapsedTime())}`;
                            } else {
                                callStatus.innerText = 'Status da Chamada: Em Chamada';
                            }
                        } else {
                            callStatus.innerText = 'Status da Chamada: Fora de Chamada';
                            title.innerText = 'Softphone Setup';
                        }

                        updateButtonState(isInCall);
                    }
                };

                const originalConsoleLog = console.log;

                console.log = function(...args) {
                    const message = args.join(' ');
                    const regex = /NOTIFICATION,PRESENCE,\d+,Open,Speaking$/;

                    if (regex.test(message.trim())) {
                        handleNotificationPresence();
                    }

                    originalConsoleLog.apply(console, args);
                };

                function handleNotificationPresence() {
                    console.log('Trigger acionado: NOTIFICATION,PRESENCE,Open,Speaking detectado');
                    if (!callStartTime) {
                        callStartTime = new Date();
                        startTimer();
                    }
                }

                window.onload = function() {
                    updateCallStatus();
                };

            })();

            function makeCallHandler(event) {
                event.preventDefault();
                const input = document.getElementById('display');
                const inputValue = input.value;
                makeCall();
                input.value = inputValue;
            }

            function startTimer() {
                timerInterval = setInterval(() => {
                    if (callStartTime) {
                        title.innerText = `Em Chamada - ${formatTime(getElapsedTime())}`;
                    }
                }, 1000);
            }

            function stopTimer() {
                clearInterval(timerInterval);
            }

            function getElapsedTime() {
                if (!callStartTime) return 0;
                const now = new Date();
                return Math.floor((now - callStartTime) / 1000);
            }

            function formatTime(seconds) {
                const minutes = Math.floor(seconds / 60);
                const secs = seconds % 60;
                return `${String(minutes).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
            }

            function updateButtonState(isInCall) {
                if (isInCall) {
                    callButton.innerText = 'Desligar';
                    callButton.classList.remove('button-call');
                    callButton.classList.add('button-hangup');
                    callButton.setAttribute('onclick', 'hangUp()');
                } else {
                    callButton.innerText = 'Ligar';
                    callButton.classList.remove('button-hangup');
                    callButton.classList.add('button-call');
                    callButton.setAttribute('onclick', 'makeCall()');
                }
            }


            document.addEventListener('keydown', function(event) {
                if (event.ctrlKey && event.key === 'v') {
                    return;
                }

                if (event.key >= '0' && event.key <= '9') {
                    event.preventDefault();
                    addNumber(event.key);
                } else if (event.key === 'Enter') {
                    event.preventDefault();
                    makeCall();
                }
            });

            if (typeof webphone_api !== 'undefined') {
                webphone_api.onAppStateChange(function (state) {
                    if (state === 'loaded') {
                        webphone_api.setparameter('serveraddress', '192.168.15.252');
                        webphone_api.setparameter('username', '{{ phone_number }}');
                        webphone_api.setparameter('password', '{{ secret }}');
                        webphone_api.setparameter('loglevel', '1');
                        webphone_api.start();
                        aumentarVolume();
                    }
                });



                window.addNumber = addNumber;

                window.makeCall = function() {
                    var rawNumber = display.value.replace(/\s/g, '');
                    console.log("Número original:", rawNumber);

                    if (rawNumber.includes('*') || rawNumber.includes('#')) {
                        webphone_api.call(rawNumber);
                        callStartTime = new Date();
                        startTimer();
                        updateButtonState(true);
                        display.setAttribute('data-number', display.value);
                        display.disabled = true;
                        return;
                    }

                    var cleanedNumber = rawNumber.replace(/\D/g, '');

                    if (cleanedNumber.length === 4) {
                        webphone_api.call(cleanedNumber);
                        callStartTime = new Date();
                        startTimer();
                        updateButtonState(true);
                        display.setAttribute('data-number', display.value);
                        display.disabled = true;
                        return;
                    }

                    if (cleanedNumber.length > 2) {
                        var ddd = cleanedNumber.substring(0, 2);
                        var numberPart = cleanedNumber.substring(2);

                        var isMobile = (numberPart.length >= 8 && numberPart.charAt(0) >= '6' && numberPart.charAt(0) <= '9');
                        var isLandline = (numberPart.length >= 8 && numberPart.charAt(0) >= '0' && numberPart.charAt(0) <= '5');

                        if (isMobile) {
                            if (numberPart.length === 8) {
                                numberPart = '9' + numberPart;
                            }
                        } else if (isLandline) {
                        } else {
                            console.log("Número inválido");
                            display.value = 'Número inválido';
                            setTimeout(function() {
                                display.value = '';
                            }, 1000);
                            return;
                        }

                        var number = ddd + numberPart;

                        if (number) {
                            webphone_api.call(number);
                            callStartTime = new Date();
                            startTimer();
                            updateButtonState(true);
                            display.setAttribute('data-number', display.value);
                            display.disabled = true;
                        } else {
                            display.value = 'Digite um número';
                            setTimeout(function() {
                                display.value = '';
                            }, 1000);
                        }
                    } else {
                        console.log("Número inválido");
                        display.value = 'Número inválido';
                        setTimeout(function() {
                            display.value = '';
                        }, 1000);
                    }
                };




            window.hangUp = function() {
                webphone_api.hangup();
                stopTimer();
                description.innerText = 'Sem Formato';
                display.disabled = false;
                display.value = display.getAttribute('');
                updateButtonState(false);
            };

                setInterval(updateCallStatus, 200);

                webphone_api.onCallStateChange(function (status, direction, peername, peerdisplayname, line) {
                    if (status === 'setup') {
                        if (direction === 2) {
                            som = new Audio('static/sound/toque.mp3');
                            som.loop = true;
                            som.play();
                            CallPopup(peername);
                        }
                    }
                });
            } else {
                console.error('webphone_api não está definido');
            }
        };
        let som = null;

        function pararSom() {
        if (som) {
            som.pause();
            som.currentTime = 0
            som = null;
        }
        }

        function Hangup()
        {
            webphone_api.hangup();
        }

        function Accept()
        {
            webphone_api.accept();
        }

        function addNumberToList(ramal) {
            const input = document.getElementById('display');
            input.value = ramal; // Define o valor do input para o ramal selecionado
        }

        function addSufixName(name) {
            description.innerText = "Ramal: " + name;
        }

        function handleCdr(caller, called, connectTime, duration, direction, peerDisplayName, reason, line, callId) {
            const callDetails = {
                caller: caller,
                called: called,
                connectTime: connectTime,
                duration: duration,
                direction: direction,
                peerDisplayName: peerDisplayName,
                reason: reason,
                line: line,
                callId: callId
            };

            const input = document.getElementById('display');
            input.value = '';
        }

        webphone_api.onCdr(handleCdr);

        let isMuted = false;

        function toggleMute() {
            const direction = 2;
            isMuted = !isMuted;

            try {
                webphone_api.mute(isMuted, direction);

                const muteIcon = document.getElementById('mute-icon');
                if (muteIcon) {
                    muteIcon.src = isMuted ? 'static/img/mute.svg' : 'static/img/unmute.svg';
                } else {
                    console.error('Mute icon not found');
                }
            } catch (err) {
                console.error('Failed to mute/unmute microphone:', err);
            }
        }

        function setupMuteButton() {
            const muteButton = document.getElementById('muteButton');
            if (muteButton) {
                muteButton.onclick = toggleMute;
            } else {
                console.error('Mute button not found');
            }
        }



        document.addEventListener('DOMContentLoaded', setupMuteButton);

        function CallPopup(peername) {

            const popupContainer = document.createElement('div');
            popupContainer.style.zIndex = '99998';
            popupContainer.className = 'fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50 opacity-0 transition-opacity duration-500'; // Começa com opacidade 0 e animação de transição

            const popupContent = document.createElement('div');
            popupContent.style.backgroundColor = '#111826';
            popupContent.style.width = '400px';
            popupContent.style.height = '150px';
            popupContent.style.zIndex = '99999'
            popupContent.className = 'rounded-lg shadow-lg p-6';

            const popupText = document.createElement('p');
            popupText.className = 'text-xl font-semibold text-white mb-4 text-center';
            popupText.innerText = `Recebendo Chamada de ${peername}!`;
            const display = document.getElementById('display');
            display.value = peername;

            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'flex justify-around';

            const hangupButton = document.createElement('button');
            hangupButton.className = 'bg-red-500 hover:bg-red-600 text-white font-bold py-7 px-14 rounded';
            hangupButton.innerText = 'Recusar';
            hangupButton.onclick = function() {
                pararSom();
                description.innerText = 'Sem Formato';
                webphone_api.hangup();
                document.body.removeChild(popupContainer);
            };

            const acceptButton = document.createElement('button');
            acceptButton.className = 'bg-green-500 hover:bg-green-600 text-white font-bold px-14 rounded'; // Aumenta o tamanho dos botões
            acceptButton.innerText = 'Aceitar';
            acceptButton.onclick = function() {
                pararSom();
                webphone_api.accept();
                document.body.removeChild(popupContainer);
            };

            buttonContainer.appendChild(hangupButton);
            buttonContainer.appendChild(acceptButton);

            popupContent.appendChild(popupText);
            popupContent.appendChild(buttonContainer);

            popupContainer.appendChild(popupContent);

            document.body.appendChild(popupContainer);

            // Delay para permitir que o elemento seja adicionado ao DOM antes de aplicar a animação
            setTimeout(() => {
                popupContainer.classList.remove('opacity-0');
                popupContainer.classList.add('opacity-100');
            }, 10); // Atraso mínimo para acionar a transição
        }


        async function checkCallStatus() {
            while (true) {
                await new Promise(resolve => setTimeout(resolve, 30 * 60 * 1000));

                if (!webphone_api.isincall()) {
                    location.reload();
                    return;
                } else {
                    while (webphone_api.isincall()) {
                        await new Promise(resolve => setTimeout(resolve, 5000));
                    }
                    location.reload();
                }
            }
        }
        checkCallStatus();
        </script>
</body>
